<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EmployeesOfDepartment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h1 th:text="${'Список сотрудников отдела : ' + department}"></h1>
<div th:if="${employees.size() == 0}" style="padding: 10px;">
    <p> Список сотрудников отдела пуст</p>
</div>

<div th:if="${employees.size()>0}" class="container">
    <div class="col-md-8">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Фамилия Имя Сотрудника</th>
                <th>Зарплата</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.getId()}"></td>
                <td><a th:href="@{/employees/{id}(id=${employee.getId()})}" th:text="${employee}"></a></td>
                <td th:text="${employee.getSalary()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<hr>
<h6><a th:href="@{/departments}">Список отделов</a></h6>
<h6><a th:href="@{/}">Вернуться на главную</a></h6>

</body>
</html>